@media screen and (width <= 500px) {
    .burgerbar{
        display: block;
    }
    .MainChild{
        display: none;
    }
    .search{
        display: none;
    }
    .header{
        padding-left: 16px;
        gap: 50px;
    }
    .head-first-section{
        display: flex;
        gap: 16px;
    }
    .search-icon{
        display: block;
    }
    .main{
        height: 450px;
        padding: 40px 16px;
        background-image: none;
        background-color: #F2F0F1;
    }
    .text{
        width: 315px;
        font-size: 36px;
        font-weight: 700;
        line-height: 34px;
    }
    .paragraph{
        width: 358px;
    }
    .mainbutton{
        width: 358px;
    }
    .statistics{
        display: none;        
    }
    .brands{
        display: none;
    }
    .imagediv{
        display: block;
    }
    .products_paragraph{
        font-size: 30px;
    }
    .catalog{
       overflow-x: auto;
       gap: 10px;
    }
}