@media screen and (width <= 500px) {
    .burgerbar{
        display: block;
    }
    .MainChild{
        display: none;
    }
    .search{
        display: none;
    }
    .header{
        padding-left: 16px;
        gap: 50px;
    }
    .head-first-section{
        display: flex;
        gap: 16px;
    }
    .search-icon{
        display: block;
    }
    .main{
        height: 450px;
        padding: 40px 16px;
        background-image: none;
        background-color: #F2F0F1;
    }
    .text{
        width: 315px;
        font-size: 36px;
        font-weight: 700;
        line-height: 34px;
    }
    .paragraph{
        width: 358px;
    }
    .mainbutton{
        width: 358px;
    }
    .statistics{
        display: none;        
    }
    .brands{
        display: none;
    }
    .imagediv{
        display: block;
    }
    .products_paragraph{
        font-size: 30px;
    }
    .catalog{
       overflow-x: auto;
       gap: 10px;
    }
    .dress_style{
        width: 358px;
        height: 975px;
    }
    .dress_style_div_responsive{
        width: 300px;
        height: 162px;
    }
    .styles{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .feedbacks_header p{
       margin-left: 30px;
       margin-bottom: 25px;
    }
    .feedback2{
        display: none;
    }
    .arrows{
        display: flex;
        gap: 9px;
        margin-bottom: 24px;
        margin-left: calc(233px + 77px);
    }
    .info{
        width: 250px;
    }
}